<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="capra_test" >
    <!-- argument et prop placeholder -->
    <xacro:arg name="sim" default="true"/>
    <xacro:property name="sim" value="$(arg sim)"/>

    <!-- urdf.xacro enfants ci dessous -->
    <xacro:include filename="$(find capra_arm_description)/urdf/capra_arm.urdf.xacro"/>


    <!-- Base vide -->
    <link name="base_link">
      <visual>
         <geometry>
            <box size="0.001 0.001 0.001"/>
         </geometry>
         <origin xyz="0. 0 0" rpy="0 0 0"/>
         <material name="black">
               <color rgba="0 0.1 0.1 1"/>
         </material>
      </visual>
      <collision>
         <geometry>
            <box size="0.001 0.001 0.001"/>
         </geometry>
         <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="40"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx = "1" ixy = "1" ixz = "1"
                   iyy = "1" iyz = "1"
                   izz = "1"/>
      </inertial>
    </link>


    <!-- Arm -->
    <xacro:capra_arm parent="base_link" sim="${sim}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:capra_arm>

</robot>
