<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="capra_arm">
   <!-- argument et prop placeholder -->
   <!-- <xacro:arg name="sim" default="true"/> -->
   <!-- <xacro:property name="sim" value="$(arg sim)"/> -->

   <!-- urdf.xacro enfants ci dessous -->
   <xacro:include filename="$(find capra_arm_description)/urdf/capra_arm.urdf.xacro"/>

   <!-- Base vide -->
   <link name="root"/>
   <xacro:property name="robot_root" value="root"/>
   <xacro:capra_arm parent="${robot_root}"/>

</robot>
