<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="capra_arm">
  <xacro:include filename="$(find capra_arm_description)/urdf/capra_arm.xacro"/>
  <!-- <xacro:include filename="$(find franka_description)/robots/hand.xacro"/> -->
  <xacro:capra_arm />
  <!-- <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="ca_link8"/> -->
</robot>
