<launch>
  <arg name="use_joy" default="false"/>
  <arg name="use_twist" default="true"/>
  <arg name="use_action" default="true"/>

  <!-- Launch jog controllers -->
  <rosparam command="load" file="$(find ovis_jog_launch)/config/ovis_jog.yaml"/>

  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <param name="use_action" value="$(arg use_action)"/>
    <!-- <param name="time_from_start" value="1.0"/> -->
  </node>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node">
    <param name="use_action" value="$(arg use_action)"/>
    <!-- <param name="time_from_start" value="0.01"/> -->
    <remap from="/joint_states" to="ovis/joint_states"/>
  </node>

  <!-- Launch joypad -->
  <include if="$(arg use_joy)" file="$(find jog_controller)/launch/joypad.launch">
    <arg name="group_name" value="manipulator"/>
    <arg name="frame_id" value="ovis_link_base"/>
    <arg name="link_name" value="ovis_link_tool0"/>
  </include>

  <!-- Launch twist -->
  <include if="$(arg use_twist)" file="$(find jog_controller)/launch/twist.launch">
    <arg name="group_name" value="manipulator"/>
    <arg name="frame_id" value="ovis_end_effector"/>
    <arg name="link_name" value="ovis_end_effector"/>
    <arg name="launch_spacenav" value="true"/>
    <arg name="rotate_axes" value="true"/>
    <arg name="dominant_axis_mode" value="true"/>
    <arg name="controller_enabled" value="true"/>
  </include>

</launch>
